<div class="block">
  <div class="pfblock-header wow fadeInUp">
    <h4 class="pfblock-title">Novy komentář</h4>
    <div class="pfblock-line"></div>
  </div>


  <div class="form-area"> 
    <%= form_for [ @post, @comment ] do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <div class="input-group col-xs-4">
          <%= f.label :author, "Jméno:" %><br/>
          <%= f.text_field :author, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group col-xs-12">
          <%= f.label :body, "Komentář:" %><br/>
          <%= f.text_area :body, rows: "6", maxlength: "2000", class: "form-control"  %>
        </div>
      </div>

      <div class="row">
      <div class="col-sm-6">
      <%= recaptcha_tags %>
      </div>
      <div class="col-sm-6">
      <%= f.submit 'Odeslat', class: "btn btn-default push-right" %>
      </div>
      </div>
    <% end %>
  </div>
</div>