<div class="box">
  <div class="box-content">

    <div class="form-area">  
      <%= form_for @message, url: contact_path do |message_form| %>
        <div class="form-group">
          <div class="input-group col-xs-12">
            <%= message_form.text_field :name, class: "form-control", id: "name", placeholder: "Vaše Jméno:" %>
          </div>  
        </div>
        <div class="form-group">
          <div class="input-group col-xs-12">
            <%= message_form.email_field :email, class: "form-control", id: "email", placeholder: "Váš E-Mail:" %>
          </div>  
        </div>
        <div class="form-group">
          <div class="input-group col-xs-12">
            <%= message_form.text_area :content, class: "form-control", id: "message", placeholder: "Zpráva", rows: "10", maxlength: "440" %>
          </div>  
        </div>
        <div class="row">
          <div class="col-xs-12">          
            <%= message_form.submit "Odeslat", class: "btn btn-default pull-right", id: "submit" %>
          </div>
          </div>
      <% end %>
    </div>
  </div>
</div>