 <% if stream.identity == "post" %>
  <div class="item">
    <%= link_to post_path(stream) do %>
      <div class="postbox">
        <div class="box-title">
          <%= fa_icon("eye-slash", class: "private") unless stream.public %>
          <h4><%= stream.title %></h4>
        </div>
        <p><%= strip_tags(markdown stream.content.truncate(200)) %></p>
      </div>
    <% end %>
  </div><!-- ./item -->
<% elsif stream.identity == "gallery" %>
  <div class="item">
    <%= link_to gallery_path(stream) do %>
      <div class="photobox">
        <% stream.random_images(1).each do |image| %>
          <%= image_tag(image.file.url(:thumb)) %>
        <% end %>
        <div class="box-title">
          <%= fa_icon("eye-slash", class: "private") unless stream.public %>
          <h4><%= stream.name %></h4>
        </div>
      </div>
    <% end %>
  </div><!-- ./item -->
<% end %>
