<div class="box userbox">
  <div class="row">

    <div class="col-xs-6">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>

    <div class="col-xs-6">
      <div class="userbox-title">
        <span class="h3 pfblock-title">Tomáš Koutský</span><span> (<%= @user.age %> let)</span>
        <br>
        <%= fa_icon "envelope" %> <strong><%= @user.email %></strong>
          <br>
          <%= fa_icon "phone" %> <strong><%= @user.phone %></strong>
      </div>

      <ul class="list-unstyled">
        <% @simple_user_infos.each do |i| %>
          <li>
            <%= i.info %>
          </li>
          <% end %>
      </ul>

      <div class="userbox-links">
        <button class="btn btn-default">GitHub</button>
        <button class="btn btn-default">Stahnout .PDF</button>
        <% if (logged_in? && (current_user == @user)) || logged_in_admin? %>
          <%= link_to fa_icon("wrench"), edit_user_path(@user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
