<div class="box userbox">
  <div class="row">

    <div class="col-sm-6">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>

    <div class="col-sm-6">
      <div class="userbox-title">
        <span class="h3 pfblock-title"><%= @user.name %></span><span> (<%= @user.age %> let)</span>
        <br>
        <%= fa_icon "envelope" %> <strong><%= @user.email %></strong>
          <br>
          <%= fa_icon "phone" %> <strong><%= @user.phone %></strong>
      </div>

      <ul class="list-unstyled">
        <% @simple_user_infos.each do |i| %>
          <li>
            <%= i.info %>
          </li>
          <% end %>
      </ul>

      <div class="userbox-links">
        <a href="https://github.com/stepnivlk", target="_blank"><button class="btn btn-default"><%= fa_icon "github-alt" %> GitHub</button></a>
        <%= link_to user_path(@user, format: :pdf) do %> 
          <button class="btn btn-default"><%= fa_icon "download" %> CV.PDF</button>
        <% end %>
        <% if (logged_in? && (current_user == @user)) || logged_in_admin? %>
          <%= link_to fa_icon("wrench"), edit_user_path(@user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
