<!-- services -->
<section id="firstinfo" class="pfblock pfblock-gray">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <div class="pfblock-header wow fadeInUp">
            <h2 class="pfblock-title">S tímto mohu pomoci</h2>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">
            <blockquote class="blockquote">
              Forma vždy následuje funkci
              <footer>Louis Henry Sullivan</footer>
              </blockquote>
            </div>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-sm-3">

          <div class="iconbox infobox wow slideInLeft">
            <div class="iconbox-icon text-center">
              <%= image_tag "icon_webdev.png", alt: "webove aplikace" %>
            </div>
            <div class="iconbox-text text-center">
              <h3 class="iconbox-title">Webové Aplikace</h3>
              <div class="iconbox-desc">
                Literally synth Banksy art party. Post-ironic try-hard Kickstarter street art artisan, typewriter skateboard High Life quinoa freegan beard four loko health goth put a bird on it fap. Wolf street art kale chips, chia pork belly kogi taxidermy flexitarian. 
              </div>
            </div>
          </div>

        </div>



        <div class="col-sm-3">

          <div class="iconbox infobox wow slideInRight">
            <div class="iconbox-icon text-center">
              <%= image_tag "icon_server.png", alt: "sprava serveru" %>
            </div>
            <div class="iconbox-text">
              <h3 class="iconbox-title text-center">Správa serverů</h3>
              <div class="iconbox-desc">
                Odd Future stumptown bitters pour-over ugh slow-carb four loko, post-ironic seitan roof party scenester tattooed artisan. Next level single-origin coffee slow-carb PBR, lo-fi tousled trust fund art party Kickstarter leggings. 
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-3">

          <div class="iconbox infobox wow slideInRight">
            <div class="iconbox-icon text-center">
              <%= image_tag "icon_programming.png", alt: "programovani" %>
            </div>
            <div class="iconbox-text">
              <h3 class="iconbox-title text-center">Programování</h3>
              <div class="iconbox-desc">
                 Tattooed Williamsburg distillery, kogi umami heirloom keffiyeh Godard. Flannel listicle Pitchfork cred, synth 3 wolf moon small batch food truck keffiyeh blog.
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-3">

          <div class="iconbox infobox wow slideInLeft">
            <div class="iconbox-icon text-center">
              <%= image_tag "icon_graphics.png", alt: "grafika" %>
            </div>
            <div class="iconbox-text">
              <h3 class="iconbox-title text-center">Grafika</h3>
              <div class="iconbox-desc">
                Authentic DIY tofu, street art ugh retro tattooed swag. Typewriter post-ironic 8-bit hoodie, cray photo booth fanny pack fixie tilde. Trust fund master cleanse blog, Godard mixtape swag direct trade ugh migas tilde slow-carb Thundercats meggings.
              </div>
            </div>
          </div>

        </div>

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <!-- /services -->


 <section id="" class="pfblock">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">Nedávná aktivita</h2>
          <div class="pfblock-line"></div>
        </div>
      </div>
    </div>

    <div class="row stream">
      <% @stream.each do |post| %>    
        <% if post.identity == "post" %>
          <div class="item">
            <%= link_to post_path(post) do %>
              <div class="postbox">
                <div class="box-title">
                  <h4><%= post.title %></h4>
                </div>
                <p><%= strip_tags(markdown post.content.truncate(200)) %></p>
              </div>
            <% end %>
          </div><!-- ./item -->
        <% elsif post.identity == "gallery" %>
          <div class="item">
            <%= link_to gallery_path(post) do %>
              <div class="photobox">
                <% post.random_images(1).each do |image| %>
                  <%= image_tag(image.file.url(:thumb)) %>
                <% end %>
                <div class="box-title">
                  <h4><%= post.name %></h4>
                </div>
              </div>
            <% end %>
          </div><!-- ./item -->
        <% end %>
      <% end %><!-- ./@stream.each -->
    </div><!-- .row -->
  </div><!-- .container -->
</section>

<section class="pfblock">
  <%= image_tag("wolf-section.png", alt: "wolf-section", class: "center") %>
</section>

<section id="" class="pfblock-gray">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">O mně & kontakt</h2>
          <div class="pfblock-line"></div>
        </div>
      </div>
    </div><!-- .row -->

    <div class="row pfblock">
      <div class="col-sm-8">
        <%= render partial: 'shared/userbox' %>
      </div>
      <div class="col-sm-4">
      <%= render partial: 'shared/contactbox' %>
      </div>
    </div><!-- .row -->

    <div class="row">
      <div class="col-sm-6">
      <%= render partial: 'shared/skillsbox' %>
      </div>

      <div class="col-sm-6">
        <%= render partial: 'shared/expbox' %>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->
</section>
