<!-- services -->
<section id="firstinfo" class="pfblock pfblock-gray">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <div class="pfblock-header">
            <h2 class="pfblock-title">S tímto mohu pomoci</h2>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">
            <blockquote class="blockquote">
              Forma vždy následuje funkci
              <footer>Louis Henry Sullivan</footer>
              </blockquote>
            </div>
          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-sm-3">
          <div class="infobox">
            <div class="infobox-icon">
              <%= image_tag "icon_webdev.png", alt: "webove aplikace" %>
            </div>
            <h3 class="infobox-title">Webové Aplikace</h3>
            <p>
              Vytvářim aplikace na míru. Od jednoduchého blogu po komplexní řešení se sociálními prvky pro stovky až tisíce uživatelů. Vždy maximálně flexibilně, čistě a škálovatelně.
            </p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="infobox">
            <div class="infobox-icon">
              <%= image_tag "icon_server.png", alt: "sprava serveru" %>
            </div>
            <h3 class="infobox-title">Správa serverů</h3>
            <p>
              Mám mnohaleté zkušenosti se správou desítek linuxových serverů. Web, mail, databáze, skripování, virtualizace... Zvládám konfigurovat a spravovat jakékoliv z linuxových zaklínadel.
            </p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="infobox">
            <div class="infobox-icon">
              <%= image_tag "icon_programming.png", alt: "programovani" %>
            </div>
            <h3 class="infobox-title">Programování</h3>
            <p>
              Potřebujete vytvořit spíše klasickou aplikaci, nebo specializovaný serverový program? Umím jak jednoduché skripty, tak větší objektové řešení. Vše včetně dokumentace a testů.
            </p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="infobox">
            <div class="infobox-icon">
              <%= image_tag "icon_graphics.png", alt: "grafika" %>
            </div>
            <h3 class="infobox-title">Grafika</h3>
            <p>
              Mě baví. Rád navrhuji loga, ikony a všemožnou vektorovou grafiku tak, jako na tomto webu. Mám ale i zkušenosti s 3d tvorbou. Snažím se do své práce vtisknout originální myšlenku a jasně definovat danou značku.
            </p>
          </div>
        </div>

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  <!-- /services -->


 <section id="" class="pfblock">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">Nedávná aktivita</h2>
          <div class="pfblock-line"></div>
        </div>
      </div>
    </div>

    <div class="stream-wrap">
      <div class="row stream">
        <%= render partial: 'shared/stream', collection: @streams %>
      </div><!-- .row -->
    </div>
    
  </div><!-- .container -->
</section>

<section class="pfblock">
  <%= image_tag("wolf-section.png", alt: "wolf-section", class: "center") %>
</section>

<section id="" class="pfblock">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">O mně & kontakt</h2>
          <div class="pfblock-line"></div>
        </div>
      </div>
    </div><!-- .row -->

    <div class="row">
      <div class="col-sm-8">
        <%= render partial: 'shared/userbox' %>
      </div>
      <div class="col-sm-4">
      <%= render partial: 'shared/contactbox' %>
      </div>
    </div><!-- .row -->

    <div class="row pfblock">
      <div class="col-sm-6">
      <%= render partial: 'shared/skillsbox' %>
      </div>

      <div class="col-sm-6">
        <%= render partial: 'shared/expbox' %>
      </div>

    </div><!-- .row -->

  </div><!-- .container -->
</section>

<section id="" class="">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">O tomto webu</h2>
          <div class="pfblock-line"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="infobox">
        <div class="infobox-icon">
          <%= image_tag "icon_mark.png", alt: "webove aplikace" %>
        </div>
        <div class="text-center">
          <div class="text-left">
            <p>
              Web je napsaný v <%= link_to "Ruby on Rails", "http://rubyonrails.org/", target: "_blank" %>, za pomoci CSS frameworku <%= link_to "Bootstrap", "http://getbootstrap.com/", target: "_blank" %>, v editoru <%= link_to "Sublime", "http://www.sublimetext.com/", target: "_blank" %>.
            </p>
            Používám pouze několik dodatečných gemů:
            <ul class="list-unstyled">
              <li><%= link_to "Font Awesome", "https://github.com/bokmann/font-awesome-rails", target: "_blank" %> - jednoduché ikony</li>

              <li><%= link_to "Redcarpet", "https://github.com/vmg/redcarpet", target: "_blank" %> - Markdown renderování</li>

              <li><%= link_to "Paperclip", "https://github.com/thoughtbot/paperclip", target: "_blank" %> - ukládáni souborů (a jejich asociace s danou databází).</li>

              <li><%= link_to "Nested Forms", "https://github.com/ncri/nested_form_fields", target: "_blank" %> - zanořené položky asociovaných databází ve formuláři</li>

              <li><%= link_to "Prawn", "https://github.com/prawnpdf/prawn", target: "_blank" %> - PDF renderování</li>

              <li><%= link_to "Recaptch", "https://github.com/ambethia/recaptcha/", target: "_blank" %> - CAPTCHA ověřovaní</li>

              <li><%= link_to "EXIFR", "https://github.com/remvee/exifr", target: "_blank" %> - Načítání EXIF informací z fotek</li>

              <li><%= link_to "Will Paginate", "https://github.com/mislav/will_paginate", target: "_blank" %> - Stránkování</li>
            </ul>
            <p>Grafika a fotky jsou moje práce. Ikony a logo jsem vytvořil v editoru <%= link_to "Inkscape", "https://inkscape.org", target: "_blank" %>.
            </p>
            <p>
              Veškerý kód je licencován pod open-source licencí MIT a je k dispozici na <%= link_to "GitHubu", "https://github.com/stepnivlk/stepnivlk", target: "_blank" %>.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="infobox">
        <div class="infobox-icon">
          <%= image_tag "icon_info.png", alt: "webove aplikace" %>
        </div>
        <div class="iconbox-text text-center">
          <div class="iconbox-desc text-left">
            <p>
            Ačkoliv tento web používám prozatím pouze já, tak je vše připraveno pro mnoho různých uživatelů. Škálování a přidávání funkcí není žádným problémem.
            </p>
            <p>
            Všechny podstatné informace na webu jsou dynamicky načítané z uživatelského profilu. Změna se projeví všude včetně automaticky generovaného PDF CV. Uživatel si může upravovat svůj profil, měnit informace, kompetence, zkušenosti a přidávat doplňující informace.
            </p>
            <p>
            V současnosti je možné přidávat blogové zápisky, komentovat je, přidat fotogalerii a cokoliv oštítkovat. 
            Blogy je možné stylovat pomocí Markdown a je možné vkládat obrázky z galerie.
            Vše je přístupné pomocí nástěnky, což je kombinovaný proud příspěvků zobrazený formou infoboxů.
            </p>
            <p>
            Tam kde je to vhodné používám AJAX pro dynamické načítání nových informací.
            </p>
          </div>
        </div>
      </div>
    </div>



  </div><!-- .container -->
</section>
