<div class="form-area"> 
  <%= form_for(@post, html: { multipart: true }) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <div class="input-group col-xs-4">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group col-xs-12">
        <%= f.label :content %>
        <%= f.text_area :content, cols: "100", rows: "25", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group col-xs-6">
        <%= f.label :tag_list %>
        <%= f.text_field :tag_list, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <%= f.check_box :public, class: "", data: { size: 'small', 'on-color': 'warning', 'on-text': 'Public', 'off-text': 'Private' } %>
      </div>
    </div>




      <%= f.submit 'Odeslat', class: "btn btn-default"  %>



  <% end %>
</div>