<% provide(:title, 'Blog') %>

<section id="" class="pfblock-gray">
  <div class="container">

    <div class="row text-center">
      <div class="col-sm-4 col-sm-offset-4 text-center">
        <ol class="breadcrumb">
          <li>
            <%= link_to root_path( anchor: "firstinfo" )  do %>
              <%= fa_icon "home" %>
            <% end %>
          </li>
          <li class="active">Blog</li>
          <li>
            <% if logged_in? %>
              <%= link_to new_post_path, class: "" do %>
                <%= fa_icon "plus" %>
              <% end %>
            <% end %>
          </li>
        </ol>
      </div>
    </div>

    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="box">
            <div class="pfblock-header">
              <%= fa_icon("eye-slash 2x", class: "private") unless post.public %>
              <h3 class="pfblock-title"><%= link_to post.title, post_path(post), class: "post_title" %></h3>
              <div class="pfblock-line"></div>
              <div class="pfblock-subtitle">
                <%= fa_icon "tags" if post.tags.any? %>
                <% post.tags.each do |tag| %>
                  <%= link_to tag.name, tag_path(tag), class: "tag btn btn-tag" %>
                <% end %>
              </div>
            </div>
            <div class="box-content">
              <%= markdown post.content_before_break %>
            </div>
            <div class="text-right">
              <%= link_to post.user do %>
                <%= image_tag(post.user.avatar.url(:thumb), alt: "post_user", class: "user-icon-img") + " " + post.user.name %>
              <% end %>
              |
              <%= fa_icon("calendar") + " " + post.created_at.strftime("%d/%m/%Y") %>
              |
              <%= fa_icon("comment")%><%= " #{post.comments.count}" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-sm-4 col-sm-offset-4 text-center">
      <%= will_paginate @posts, previous_label: fa_icon("chevron-left"), next_label: fa_icon("chevron-right") %>
    </div>

  </div>
</section>
