<section id="" class="pfblock-gray">
  <div class="container">

    <div class="row text-center">
        <ol class="breadcrumb">
          <li><strong><%= link_to "~", root_path %></strong></li>
          <li class="active">Blog</li>
        </ol>
    </div>



    <% @posts.each do |post| %>

      <div class="row">

        <div class="box">
          <div class="pfblock-header wow fadeInUp">
            <h3 class="pfblock-title"><%= link_to post.title, post_path(post), class: "post_title" %></h3>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">
              <%= fa_icon "tags" if post.tags.any? %>
              <% post.tags.each do |tag| %>
                <%= link_to tag.name, tag_path(tag), class: "tag btn btn-default" %>
              <% end %>
            </div>
          </div>
        

            <%= markdown post.content_before_break %>
            <%= post.created_at.strftime("%d/%m/%Y") %><span class="push-right">(<%= post.comments.count %>) Komentářů</span>
                      </div>
      </div>
          <% end %>



  </div>
</section>
