<section id="" class="pfblock-gray">
  <div class="row text-center">
    <div class="col-sm-4 col-sm-offset-4">
      <ol class="breadcrumb">
        <li><strong><%= link_to "~", root_path %></strong></li>
        <li><%= link_to "Blog", posts_path %></li>
        <li class="active"><%= @post.id %></li>
      </ol>
    </div>
  </div>

  <div class="box">
    <div class="pfblock-header wow fadeInUp">
      <h3 class="pfblock-title"><%= @post.title %><br></h3>
      <div class="pfblock-line"></div>
      <div class="pfblock-subtitle">
        <%= fa_icon "tags" if @post.tags.any? %>
        <% @post.tags.each do |tag| %>
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to tag.name, tag_path(tag), class: "tag btn btn-default" %>
            <%= link_to fa_icon("remove"), tag_path(tag), class: "tag btn btn-default btn-tag-delete", method: :delete, data: {confirm: "Really delete the tag?"} %>
          </div>
        <% end %>
      </div>
    </div>

    <%= markdown @post.content %>
    <p class="date"><%= @post.created_at.strftime("%d/%m/%Y") %></p>
    <%= link_to fa_icon("wrench"), edit_post_path(@post) %> |
    <%= link_to fa_icon("remove"), post_path(@post), method: :delete, data: { confirm: "Are you sure ?"} %>
  </div>

  <div class="box" id="comments">
    <div class="pfblock-header wow fadeInUp">
      <h4 class="pfblock-title">Komentáře<br></h4>
      <div class="pfblock-line"></div>
    </div>
    <%= render partial: 'posts/comment', collection: @comments.order(created_at: :desc) %>
    <%= render partial: 'comments/form' %>
  </div>
</section>