<div class="form-area"> 
  <%= form_for @gallery, remote: true, html: { multipart: true } do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <div class="input-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group col-xs-8">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <%= f.label :pictures %>
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
      <%= f.label :public %><br>
        <%= f.check_box :public, class: "" %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <%= f.submit nil, class: 'btn btn-default' %>
      </div>
      <div class="col-xs-2">
        <%= fa_icon("spinner spin 2x", class: "modalspinner ") %>
      </div>
    </div>

  <% end %>
</div>