<section class="pfblock-gray">
  <div class="container">

    <div class="row">
      <div class="text-center">
        <ol class="breadcrumb">
          <li><strong><%= link_to "~", root_path %></strong></li>
          <li class="active">Galerie</li>
        </ol>
      </div>
    </div>
    
    <% @galleries.each do |gallery| %>
      <div class="gallery-wrap">

        <div class="row">
          <div class="pfblock-header wow fadeInUp">
            <h3 class="pfblock-title"><%= link_to gallery.name.truncate(14), gallery_path(gallery) %></h3>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">
              <%= gallery.description %>
            </div>
          </div>
        </div>

        <div class="row">
          <% if gallery.images.any? %>
            <% gallery.images.first(10).each do |image| %>
              <div class="col-sm-3 gallery_thumb">
                <%= link_to image_tag(image.file.url(:thumb), class: "image_thumb"), gallery_image_path(gallery, image) %>
              </div>
            <% end %>

            <% if gallery.images.size > 10 %>
              <%= link_to gallery_path(gallery) do %>
                <div class="col-sm-3 image_thumb_last">
                  <div id="gallery_last_img_link">
                    <strong>+ <%= (gallery.images.size) -10 %></strong>
                    <%= fa_icon "image" %>
                  </div>

                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="row">
        <div class="col-sm-6 text-left">
        <%= link_to fa_icon("wrench"), edit_gallery_path(gallery) %> |
        <%= link_to fa_icon("remove"), gallery, data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to gallery.user do %>
            <%= image_tag(gallery.user.avatar.url(:thumb), alt: "post_user", class: "user-icon-img") + " " + gallery.user.name %>
          <% end %>
          |
          <%= fa_icon("calendar") + " " + gallery.created_at.strftime("%d/%m/%Y") %>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</section>
