<section id="services" class="pfblock-gray">
  <div class="container">

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 text-center">
        <ol class="breadcrumb">
          <li><strong><%= link_to "~", root_path %></strong></li>
          <li><%= link_to "Galerie", galleries_path %></li>
          <li class="active"><%= @gallery.id %></li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="pfblock-header wow fadeInUp">
        <%= fa_icon("eye-slash 2x", class: "private") unless @gallery.public %>
        <h3 class="pfblock-title %>"><%= @gallery.name %></h3>
        <div class="pfblock-line"></div>
        <div class="pfblock-subtitle">
         <%= @gallery.description %>
        </div>
      </div>
    </div>

    <div class="row">
      <% @images.each do |image| %>
        <div class="col-sm-3 gallery_thumb">
          <% if (logged_in? && (current_user == image.gallery.user)) || logged_in_admin? %>
            <%= link_to fa_icon("wrench"), edit_gallery_image_path(image.gallery_id, image) %> |
            <%= link_to fa_icon("remove"), gallery_image_path(image.gallery, image), method: :delete, data: { confirm: "Are you sure ?"} %> 
          <% end %>
          <%= link_to image_tag(image.file.url(:thumb), class: "image_thumb"), gallery_image_path(@gallery, image) %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <% if (logged_in? && (current_user == @gallery.user)) || logged_in_admin? %>
          <%= link_to fa_icon("wrench"), edit_gallery_path(@gallery) %> |
          <%= link_to fa_icon("remove"), @gallery, data: { confirm: "Are you sure?" }, method: :delete %>
        <% end %>
      </div>
        <div class="col-sm-6 text-right">
          <%= link_to @gallery.user do %>
            <%= image_tag(@gallery.user.avatar.url(:thumb), alt: "post_user", class: "user-icon-img") + " " + @gallery.user.name %>
          <% end %>
          |
          <%= fa_icon("calendar") + " " + @gallery.created_at.strftime("%d/%m/%Y") %>
        </div>
      </div>
      </div>

          <div class="col-sm-4 col-sm-offset-4 text-center">
      <%= will_paginate @images, previous_label: fa_icon("chevron-left"), next_label: fa_icon("chevron-right") %>
    </div>

  </div>
</section>