
  <div class="form-area"> 
    <%= form_for(@image, url: gallery_image_path(@image.gallery_id, @image), html: { multipart: true }) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :tag_list %><br>
      <%= f.text_field :tag_list %>
      </div>

      <div class="actions">
        <%= f.submit 'Odeslat', class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>