<section id="services" class="pfblock-gray">
  <div class="container">

    <div class="row">
      <div class="text-center">
        <ol class="breadcrumb">
          <li><strong><%= link_to "~", root_path %></strong></li>
          <li><%= link_to "Galerie", galleries_path %></li>
          <li><%= link_to @image.gallery.name, gallery_path(@image.gallery) %></li>
          <li class="active"><%= @image.id %></li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="box">

          <div class="row text-center">
            <div class="col-sm-2 text-left">
              <strong><%= link_to fa_icon("chevron-left 2x"), gallery_image_path(@image.gallery_id, @image.prev) if @image.prev %></strong>
            </div>
            <div class="col-sm-8 iconbox-title">
              <h4 class=""><%= @image.file_file_name %> </h4> 
              <% if (logged_in? && (current_user == @image.gallery.user)) || logged_in_admin? %>
                <%= link_to fa_icon("wrench"), edit_gallery_image_path(@image.gallery_id, @image) %> |
                <%= link_to fa_icon("remove"), gallery_image_path(@image.gallery, @image), method: :delete, data: { confirm: "Are you sure ?"} %> 
              <% end %>

            </div>
            <div class="col-sm-2 text-right">
              <strong><%= link_to fa_icon("chevron-right 2x"), gallery_image_path(@image.gallery_id, @image.next) if @image.next %></strong>
            </div>
          </div>

        <div class="row ">
          <div class="col-sm-12">
            <% if @image.next %>
              <%= link_to image_tag(@image.file.url(:original)), gallery_image_path(@image.gallery_id, @image.next) %>
            <% else %>
              <%= image_tag(@image.file.url(:original)) %>
            <% end %>
            </div>
          </div>
          <br>
          <!-- tags -->
          <div class="row ">
            <div class="col-sm-6 text-left">
              <%= fa_icon "tags" if @image.tags.any? %>
              <% @image.tags.each do |tag| %>
                <div class="btn-group" role="group" aria-label="...">
                  <%= link_to tag.name, tag_path(tag), class: "tag btn btn-tag" %>
                  <%= link_to fa_icon("remove"), tag_path(tag), class: "tag btn btn-default btn-tag-delete", method: :delete, data: {confirm: "Really delete the tag?"} %>
                </div>
              <% end %>
            </div>
            <div class="col-sm-6 text-right">
          <%= link_to @image.gallery.user do %>
            <%= image_tag(@image.gallery.user.avatar.url(:thumb), alt: "post_user", class: "user-icon-img") + " " + @image.gallery.user.name %>
          <% end %>
          |
          <%= (fa_icon("clock-o") + " #{@image.exif_exposure_time} | ") if @image.exif_exposure_time %>
          <%= (fa_icon("eye") + " #{@image.exif_f_number} | ") if @image.exif_f_number %>
          <%= fa_icon("calendar") + " " + (@image.exif_date? ? @image.exif_date.strftime("%Y/%m/%d") : @image.created_at.strftime("%d/%m/%Y")) %>
        </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
