<!DOCTYPE html>
<html>
  <head>
    <title>Stepnivlk</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if current_page?(root_path) %>
      <%= render 'layouts/home' %>
    <% end %>

    <%= render 'layouts/header' %>


      <div class="col-sm-6 col-sm-offset-3 text-center">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissible fade in" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong><%= value %></strong>
          </div>
        <% end %>
      </div>



      <%= yield %>

      <%= debug(params) if Rails.env.development? %>


     <% if current_page?(root_path) %>
         <footer class="footer">
      <div class="container">
        <div class="row">
        <div class="col-sm-6">
        <p class="">
        <%= fa_icon "puzzle-piece" %> <strong><%= link_to User.find(1).name, user_path(User.find(1)) %></strong>
        </p>
        </div>
        <div class="col-sm-6">
        <p class="text-right">Obsah publikován pod licencí <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></p>
        </div>
        </div>
      </div>
    </footer>
    <% end %>
  </body>
</html>