<!DOCTYPE html>
<html>
<head>
  <title>Stepnivlk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  
</head>
<body>

  <% if current_page?(root_path) %>
    <%= render 'layouts/home' %>
  <% end %>

  <%= render 'layouts/header' %>

    <div class="col-sm-10 col-sm-offset-1">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
      <% end %>
    </div>

  <%= yield %>
   <%= debug(params) if Rails.env.development? %>
</body>
</html>
